name: Build HeatingRegulator on Environment

on:
  deployment:

jobs:
  build:
    runs-on: [self-hosted, iot]
    environment: Home

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize Arduino CLI
        run: |
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" core update-index

      - name: Install required board core
        run: | 
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" core install arduino:avr 
          
      - name: Install custom Arduino libraries (Windows)
        shell: powershell
        run: |
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" lib install DS1302
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" lib install LiquidCrystal_I2C
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" lib install DallasTemperature
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" lib install OneWire
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" lib install TX07K-TXC
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" lib install MQTTESP8266

      - name: Set configs (Windows)
        shell: powershell
        run: |
          $env:CONFIG_H | Out-File -Encoding ascii config.h
          $env:SENSORSCONFIG_H | Out-File -Encoding ascii sensorsconfig.h
        env:
          CONFIG_H: ${{ secrets.CONFIG_H }}
          SENSORSCONFIG_H: ${{ secrets.SENSORSCONFIG_H }}

      - name: Compile Arduino project
        run: |
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" compile --fqbn arduino:avr:mega ./ --output-dir build

      - name: Upload firmware to Arduino
        run: |
          $port = "${{ github.event.deployment.payload.serial_port }}"
          & "$Env:RUNNER_TOOL_CACHE\arduino-cli\arduino-cli.exe" --config-file "$Env:RUNNER_TOOL_CACHE\arduino-cli\config.yaml" upload --fqbn arduino:avr:mega --port $port --input-dir build

